html {
  background-color: var(--light-pink);
  font-family: "Asap", sans-serif;
}
:root {
  --white: #fff;
  --fill-color: #8ace7c;
  --light-pink: #a882dd;
  --light-green: #8ace7c;
  --light-orange: #e08d79;
}
